// WARNING: `@use` doesn't work in sassc
// WARNING: change in `_*.scss` file doesn't trigger HotReload when using `@import`
@use 'button';
@use 'layout';
@use 'svg';

@use 'body';

#viewport,
#hud {
    background  : transparent;
    touch-action: none;
}

#viewport {
    z-index        : 0;
    /* font-size   : 0; */
}

#hud {
    z-index       : 1;
    pointer-events: none;

    text {
        @include svg.center-text;
        font-size: 5pt;
    }
}

#menu {
    @include layout.flex(center, vertical);

    @include button.color($text: white,
        $primary: #4485bf,
        $primary-variant: #506f8a,
        $secondary: #76add4,
        $accent: #bbcedc,
    );

    z-index         : 2;
    background-image: linear-gradient(315deg, #2d343673 0%, #0000003f 74%);
}