// WARNING: `@use` doesn't work in sassc
// WARNING: change in `_*.scss` file doesn't trigger HotReload when using `@import`
@use 'button';
@use 'layout';
@use 'panel';
@use 'svg';

@use 'body';

#viewport,
#hud {
    background  : transparent;
    touch-action: none;
}

#viewport {
    z-index        : 0;
    /* font-size   : 0; */
}

#hud {
    z-index       : 1;
    pointer-events: none;

    text {
        @include svg.center-text;
        font-size: 5pt;
    }
}

#menu {
    z-index   : 2;
    background: var(--background);

    @include layout.flex(center, vertical);

    pointer-events                        : none;
    @include button.config($pointer-events: auto);

    @include button.color($text: white);
    @include panel.indicator;
}