html,
body {
    padding : 0;
    margin  : 0;
    overflow: hidden;
}

body {
    user-select: none;

    &,
    >* {
        width : 100%;
        height: 100%;
    }

    >* {
        position: absolute;
    }
}

#viewport,
#hud {
    background: transparent;
}

#viewport {
    z-index        : 0;
    /* font-size   : 0; */
    touch-action   : none;
}

#hud {
    z-index: 1;
}

#menu {
    z-index: 2;

    // Centered Vertical Items
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-flow       : column nowrap;
    overflow-y      : auto;
    background-image: linear-gradient(315deg, #2d343673 0%, #0000003f 74%);

    >button {
        $primary        : #4485bf;
        $primary-variant: #506f8a;
        $secondary      : #76add4;
        $accent         : #bbcedc;

        width        : 12em;
        height       : 3em;
        margin       : 5px;
        border-radius: 6px;

        transition      : 600ms background-color, 1s color;
        background-color: $primary;
        outline-color   : $accent;
        color           : white;

        font-size  : medium;
        font-weight: normal;

        &:hover,
        &:focus {
            background-color: $primary-variant;
            outline         : none;
            font-weight     : bold;
        }

        &:active {
            transition  : none;
            border-width: 4px;
            border-color: $primary-variant;

            background-color: $secondary;
            color           : $primary-variant;
        }
    }
}